@model IEnumerable<MvcLabManager.Models.Computer>

    @{
        ViewData["Title"] = "Cadastrar";
    }

<h1>@ViewData["Title"]</h1>

<h1>Cadastre um computador</h1>

<form class="form" asp-controller="Computer" asp-action="CadastrarComputador" method="POST">

    <label for="id">Id: </label>
    <input type="text" id="id" name="id">

    <label for="Ram">Ram: </label>
    <input type="text" id="Ram" name="Ram">

    <label for="Processor">Processador: </label>
    <input type="text" id="Processor" name="Processor">

    <input type="submit" value="Adicionar">

</form>